__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.Python
.venv/
venv/
env/
ENV/
build/
dist/
*.log
*.sqlite3
/db.sqlite3
.DS_Store
.idea/
.vscode/
*.swp
*.swo
/.mypy_cache/
/.pytest_cache/
/coverage.*
/htmlcov/
staticfiles/
media/
*.bak


